*{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
/* .wrapper {
  background-color: red;
} */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0.5rem;
}

.left-column {
  background-color: #184A45FF;
  height: 100%;
  padding: 20px;
}

.right-column {
  background-color: #999;
  height: 100%;
  padding: 20px;
}
.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding: 0.5rem;
}
.header{
   /* text-align: center; */
}
.image{
    margin-top: 1rem;
    width: 170px;
    height: 170px;
    border-radius: 100%;
}
.head{
    height: 150px;
    width: 100%;
    padding: 30px;
   
    
    background-color: #184A45FF;
}
.heading-primary{
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}
.heading-secondary{
    text-align: center;
    font-weight: 200;
    color: #fff;
    margin-top: 5px;
}











@media screen and (max-width: 800px) {
  .column {
    flex: 1;
    padding: 0;
  }

  .double-column {
    flex: 1;
    padding: 0;
  }
}